<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lembrete de não pagamento</title>
</head>
<body>
    <head>
        <h1>
            Lembrete de pagamento de fatura.
        </h1>
        <p>$city_name, $written_date.</p>
    </head>
    <main>
        <h2>$company_name</h2>
        <p>Sr(a).$client_name, consta em nossos registros o <strong>não pagamento</strong> da fatura de dia $invoice_date, no valor de $invoice_amount. O contato é para que o(a) Senhor(a) possa regularizar a sua situação financeira com a empresa.</p>
        <p>Estamos abertos a negociar.</p>
    </main>
    <footer>
        <p><em>Caso o pagamento tenha sico efetuado, por favor, desconsidere esta mensagem.</em></p>
        <p><strong>Atenciosamente, $company_name.</strong></p>
    </footer>
</body>
</html>